.carousel-btn {
  background-color: #004d9b !important;
  height: 15px !important;
  width: 15px !important;
  border: 2px solid blue !important;
  border-radius: 50%;
  margin-left: 10px !important;
}

.signup,
.signin {
  overflow: hidden;
  background-color: #fff;
}

.signip-carousel {
  height: 100vh;
  background-color: white;
  border-right: 1px solid rgba(128, 128, 128, 0.349);
}

.registration {
  position: relative;
}

.reg-form {
  position: absolute;
  /* left: 0; */
  right: 0;
  /* background-color: #114a8375; */
  width: 56%;
}

.signup-form input {
  width: 66.5%;
  height: Hug (38.53px) px;
  padding: 11.27px 8.67px 11.27px 8.67px;
  gap: 11.27px;
  border-radius: 4.33px 0px 0px 0px;
  border: 0.87px 0px 0px 0px;
  border: 0.87px solid #004e9b62;
  background-color: #fffffffb;
  opacity: 0px;
}

.form-check input {
  width: 0px !important;
  height: 2px !important;
  border-radius: 50%;
}

.form-check b {
  color: #004d9b;
}

.auth-btn {
  background-color: #004d9b;
  color: #fff;
}

.auth-btn:hover {
  background-color: #004e9b62;
}

.cp {
  margin-left: -16.8%;
}

.signup-logo {
  width: 250px;
}

.form-floating {
  width: 66.5%;
}

.switch {
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 23.44px;
  text-align: left;
  color: rgb(0, 78, 155);
  text-decoration: none;
}
.signup-lang-switch {
  width: 70%;
}
.circle-wrapper {
  position: relative;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background: rgba(15, 28, 63, 0.125);
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-file-upload {
  background-image: url("logo/uploadImage.png");
  background-size: cover;
}
.camera {
  position: absolute;
  height: 45%;
  bottom: 0%;
  right: -10%;
}
.file-input {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 50%;
}

.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 60px !important;
}

.swiper-pagination .swiper-pagination-bullet {
  background-color: #004d9b;
  width: 17px;
  height: 16px;
}

.swiper-pagination .swiper-pagination-bullet-active {
  width: 29px;
  border-radius: 13px;
}

/* Respionsive=========================================
======================================================= */

@media (max-width: 1536px) {
  .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 10px !important;
  }
}

@media (max-width: 400px) {
  .reg-form {
    top: 50%;
    height: auto;
  }

  .signip-carousel {
    height: auto;
  }

  .signup {
    overflow: hidden;
    background-color: #fff;
  }

  .carousel-btn {
    background-color: #004d9b !important;
    height: 10px !important;
    width: 10px !important;
    border: 2px solid blue !important;
    border-radius: 50%;
    margin-left: 10px !important;
  }
  .reg-form {
    width: 100%;
  }
  .signup-form input {
    width: 100%;
  }
  .cp {
    margin-left: 0%;
  }
  .form-floating {
    width: 100%;
  }
}
